@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins;
}

section,
.section {
  @apply px-4 sm:px-8 xl:px-14;
}

.carousel {
  @apply grid auto-cols-max grid-flow-col items-start gap-x-3 overflow-x-auto py-4;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}
